---
title: "Budget 2013: $14.5m boost for online identity verification"
date: 2013-05-22
url: https://www.beehive.govt.nz/release/budget-2013-145m-boost-online-identity-verification
ministers:
  - Chris Tremain
portfolios:
  - Budget 2013
  - Internal Affairs
---

Internal Affairs Minister Chris Tremain says $14.5 million in new funding for igovt services in 2013/14 demonstrates the commitment to improving New Zealanders’ online interactions with government.

The igovt services have two components:

- The igovt logon service delivers a single logon to access government services;
- The igovt identity verification service provides greater certainty about a user's real identity.

"Put simply, igovt enables you to prove it's really you online, not somebody who claims to be you,” says Mr Tremain.

"Using igovt, individuals will be able to log in to numerous websites, with the same username and password. They can prove their identity quickly online, rather than having to go to a physical office and show hard copy documents.

"With this $14.5 million funding boost we are making it easier for New Zealanders to complete their most common transactions with government in a digital environment – that's the essence of the Better Public Services Result 10.

“New Zealanders expect service from government agencies that can be done quickly and online from devices such as smartphones and iPads. Having online authentication and identity verification services allows this to happen.

"More than 900,000 igovt logons have already been created. Those people with an igovt logon will be able to upgrade to the full, combined igovt system very easily and we anticipate strong uptake.”

The Department of Internal Affairs is partnering with New Zealand Post to commercialise and expand the use of igovt technology with a product known as RealMe, which will be launched soon.

“The launch of this new service will be an exciting development in making government services available online. In addition to public agencies, private companies will be able to use the RealMe service to identify their customers," says Mr Tremain.